// 
// _page-head.scss
// 

.page-title-box {
    padding: 10px 1.5rem;
    background-color: #FFF;
    box-shadow:  0 1px 2px rgba(56,65,74,0.15);
    border-bottom: 1px solid none;
    border-top: 1px solid none;
    margin: -23px -1.5rem 1.5rem -1.5rem;

    .breadcrumb {
        background-color: transparent;
        padding: 0;
    }

    h4 {
        font-weight: 700;
        font-size: 15px!important;
        text-transform: uppercase;
    }
}

[data-layout="horizontal"] {
    .page-title-box {
        padding: 1.2rem 0;
        background-color: transparent !important;
        border-bottom: none;
        border-top: none;
        box-shadow: none;
        margin: 0;

        @media (min-width: 1024.1px) {
            margin: -19px 0 0 0;
        }
    }
}

[data-layout="vertical"] {
    &[data-layout-style="detached"]{
        .page-title-box {
            padding: 1.2rem 0;
            background-color: transparent !important;
            border-bottom: none;
            border-top: none;
            box-shadow: none;
            margin: 0;
    
            @media (min-width: 1024.1px) {
                margin: -19px 0 0 0;
            }
        }
    }
}